[submodule "eqsat-opt/deps/egg"]
	path = eqsat-opt/deps/egg
	url = https://github.com/panther03/egg.git
[submodule "eqsat-opt/deps/egraph-serialize"]
	path = eqsat-opt/deps/egraph-serialize
	url = git@github.com:panther03/egraph-serialize.git
